*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana;
    color: rgb(0, 0, 0);
}

body{
    background-image: url("../imagem/background.jpg");
}

input{
    border-radius: 5px;
    height: 2rem;
    padding-left: 0.6rem;
}

button{
    height: 2rem;
    border-radius: 10px;
    width: 7rem;
}

#conteiner{
    max-width: 30%;
    margin: 3rem auto 0;
    background-color: rgba(255, 255, 255, 0.644);
    padding: 1.5rem;
    margin-top: 10rem;
    border-radius: 20px;
}

header{
    padding-bottom: 1rem;
    border-bottom: 1px solid #333;
    text-align: center;
}

#busca{
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #333;
}

#info-title{
    padding-bottom: 1rem;
}

#informacoes{
    padding-top: 1rem;  
    
}

#dados-principais{
    padding-right: 4rem;
}

#dados-principais,#dados-extras{
    display: inline-block;
}


#informacoes h3{
    padding-bottom: 1.5rem;
}

#informacoes p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 7rem;
    float: right;
}





